<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="CustomConnection" connectionString="data Source=RUTGERS-LAPTOP;Initial Catalog=ToolsTestCustomConnection;Integrated Security=True;App=StrixTools" providerName="System.Data.SqlClient" />-->
    <add name="CustomConnection" connectionString="data source=C:\Development\StrixIT.Platform\StrixIT.Platform.Core.Tests\TestFiles\ToolsTestCustomConnection.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="testSetting" value="Test" />
  </appSettings>
</configuration>